<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easymove">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyMove"
        tools:targetApi="31">
        <activity
            android:name=".Citi25"
            android:exported="false" />
        <activity
            android:name=".Citi5"
            android:exported="false" />
        <activity
            android:name=".CitiJuarez"
            android:exported="false" />
        <activity
            android:name=".CitiReforma"
            android:exported="false" />
        <activity
            android:name=".CitiPaz"
            android:exported="false" />
        <activity
            android:name=".Hsbc14"
            android:exported="false" />
        <activity
            android:name=".HsbcJuarez"
            android:exported="false" />
        <activity
            android:name=".HsbcReforma"
            android:exported="false" />
        <activity
            android:name=".Hsbc25"
            android:exported="false" />
        <activity
            android:name=".HsbcPaz"
            android:exported="false" />
        <activity
            android:name=".SanReforma"
            android:exported="false" />
        <activity
            android:name=".San14"
            android:exported="false" />
        <activity
            android:name=".SanUpa"
            android:exported="false" />
        <activity
            android:name=".SanJuarez"
            android:exported="false" />
        <activity
            android:name=".SanLaPaz"
            android:exported="false" />
        <activity
            android:name=".Ban2"
            android:exported="false" />
        <activity
            android:name=".BanJuarez"
            android:exported="false" />
        <activity
            android:name=".Ban14"
            android:exported="false" />
        <activity
            android:name=".BanReforma"
            android:exported="false" />
        <activity
            android:name=".BanLaPaz"
            android:exported="false" />
        <activity
            android:name=".Banamex"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Hsbc"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bancomer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Santander"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfo"
            android:exported="false" />
        <activity
            android:name=".Favorite"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>